<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アイディアしりとり</title>
    <script src="./css/stylesheet-reset.css"></script>
</head>

<body>
    <header>
        <img src="" alt="">
        <h1>アイディアしりとり</h1>
        <div>しりとりする</div>
        <div>ログイン/新規登録</div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div>Copyright shiritori by SUNABACO TAKAMATSU</div>
    </footer>
</body>

</html>